/* Update a few things from Bootstrap.css */

/*======*/
/* =General
=========================================================*/
.left        {float:left;}
.right       {float:right;}
.clear       {clear:both;}
.clearLeft   {clear:left;}
.clearRight  {clear:right;}
.add-bottom  { !important; }
.add-top     { !important; }
.relative    {position:relative !important; z-index:1;}
/*
=========================================================*/

html {
  background: #848478 url(http://soundmachinedream.com/sites/all/i/kblogo-bg.png) left top no-repeat;
}

body {
  background: none !important;
  color: rgba(55,46,42,1); 
}

@media (min-width: 979px) { 
  body { margin-top: 86px; }
}

a { 
  color: rgba(55,46,42,1); 
  text-decoration: none;
  background: rgba(132,132,120,.1);  
  border-bottom: 1px solid #EC4079;
  padding: 1px 2px 1px 2px;
  /**/
  transition: background;
  transition-duration: 500ms;
  -webkit-transition: background;
  -webkit-transition-duration: 500ms;
  -moz-transition: background;
  -moz-transition-duration: 500ms;
  -o-transition: background;
  -o-transition-duration: 500ms;
  -ms-transition: background;
  -ms-transition-duration: 500ms;
  }
  
a:hover { 
  color: white;
  background: #EC4079;
  }

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

::selection {
background: #EC4079;
color: white;
text-shadow: none;
}

/*=======================================*/
/*=======================================*/
/*=======================================*/

/* TYPOGRAPHY STUFF */
/* @Font-Face */
/* Gentium */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: italic;
  font-weight: normal;
  src: local('Gentium Book Basic Italic'), local('GentiumBookBasic-Italic'), url('http://themes.googleusercontent.com/static/fonts/gentiumbookbasic/v3/qHqW2lwKO8-uTfIkh8FsUW9ZVGYl7-DCiNGjac5stJT3rGVtsTkPsbDajuO5ueQw.woff') format('woff');
}
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: normal;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url('http://themes.googleusercontent.com/static/fonts/gentiumbookbasic/v3/IRFxB2matTxrjZt6a3FUnq6Rv-X66d7QWAwIQQ5u8Sc.woff') format('woff');
}

/* gentium stack for now:   font-family: "gentium book basic", georgia, "times new roman", times, serif; */

/*Open Sans*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxsBo4hlZyBvkZICS3KpNonM.woff) format('woff');
}

html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body, p, a {
  font-family: "gentium book basic", georgia, "times new roman", times, serif;
  font-weight: 400;
  font-style: normal;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

em, cite { font-style: italic; }
strong { font-weight: 700;}

h1  {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 800 !important;
}

h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
}

.past h2 {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 0;
  text-decoration: line-through;
}

article h3  {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 800 !important;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

article ol {
  margin: 0 0 0 4px;
  padding: 0;
}

.stricken {
  text-decoration: line-through;
}

#post p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  text-indent: 32.5px;
}

#post p:nth-child(3) {
  font-size: 24px;
  line-height: 32.5px;
  margin: 19.5px 0;
  text-indent: 0;
}

#post p.meta {
  color: rgba(96,103,103,1);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}


/* /END TYPOGRAPHY */

/*=======================================*/
/*=======================================*/
/*=======================================*/

/* Header & Navbar Edits*/
header.navbar-fixed-top {
  background: #848478;
  border-bottom: 1px solid rgba(175,171,104,1);
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

header h1, header h1 a { 
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0; 
  line-height: 19px;
  text-transform: uppercase;
  }

header h1 a em,
#loader h1 em {
  font-family: "gentium book basic", georgia, "times new roman", times, serif !important;
  font-weight: 400 !important;
  text-transform: lowercase !important;
  }

header a {
  border: none;
  display: block;
  padding: 15px;
}

.navbar-fixed-top nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-fixed-top nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.navbar-fixed-top nav ul li a {
  border-left: 1px solid rgba(175,171,104,1);
  font-weight: 400;
  list-style: none;
}

/*=======================================*/
/*=======================================*/
/*=======================================*/

/* Footer Edits*/
footer {
  border-top: 1px solid rgba(175,171,104,1);
  margin-top: 86px;
  margin-bottom: 43px;
  padding-top: 26px;
}

/*=======================================*/
/*=======================================*/
/*=======================================*/

/* Full Page Loading Screen */
#loader {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(55,46,42,1);
  color: rgba(132,132,120,1);
  z-index: 1000000;
}

#loader .outer-container {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  display: table;
  top: 0;
  right: 0;
}

#loader .outer-container .inner-container {
  display: table-cell;
  vertical-align: middle;
}

#loader .outer-container .inner-container div {
  width: 97.91667%;
  float: left;
  margin: 0 1.04167%;
  font-size: 2.25em;
  line-height: 1.33333em;
  text-align: center;
}

#loader .outer-container .inner-container div img {
  display: block;
  margin: 0 auto;
  }

#loader .outer-container .inner-container div h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  }

#loader .outer-container .inner-container div p {
  width: 50%;
  margin: 0 auto;
  font-size: 80%;
  }

#loader .outer-container .inner-container p.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000001;
}
