<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Kristian Bjornard" />

    <!-- Twitter Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    
    <!-- Custom OOKB CSS -->
    <link rel="stylesheet" href="/css/ookb.css" type="text/css" media="screen" />
    
  </head>

  <body>
  
    <header class="navbar-fixed-top clearfix">
      <h1 class="left"><a href="/"><em>the</em> Office <em>of</em> Kristian Bj&oslash;rnard</a></h1>
      <nav class="right">
        <ul>
          <li><a href="">Notes</a></li>
          <li><a href="">Work</a></li>
          <li><a href="">Library</a></li>
        </ul>
      </nav><!--/.nav-collapse -->
      <br class="clear" />
    </header>
    
    <div class="container">
    
      {{ content }}

    </div>
    
    <footer>
      
      <div class="container">
        <div class="row">
        
          <article class="span4 offset2 contact">
            <p>
              Kristian Bj&oslash;rnard<br />
              Designer / Thinker / Sustainabilitist<br />
              Founder of <a href="http://ookb.co/">The Office of Kristian Bj&oslash;rnard</a><br />
              kb@ookb.co<br/>
              (507) 301-8402
            </p>
          </article>
          <!-- end contact info -->
          
          <article class="span4 referencelinks">
            <p>
    <!--             <a href="">Dribbble</a><br /> -->
              <a href="http://flickr.com/photos/bjornmeansbear/">flickr.com/photos/bjornmeansbear</a><br />
              <a href="https://github.com/bjornmeansbear/">github.com/bjornmeansbear</a><br />
              <a href="http://instagram.com/bjornmeansbear/">instagram.com/bjornmeansbear</a><br />
              <a href="http://issuu.com/bjornmeansbear">issuu.com/bjornmeansbear</a><br />
    <!--             <a href="http://www.linkedin.com/in/kristianbjornard">LinkedIn</a><br /> -->
              <a href="http://pinterest.com/bjornmeansbear/">pinterest.com/bjornmeansbear</a><br />
    <!--             <a href="http://www.plaxo.com/profile/show/244813743987?pk=8d942140084a9fd7d7af9648f0bbac86349bfe96&src=ab">Plaxo</a><br /> -->
              <a href="http://twitter.com/bjornmeansbear/">twitter.com/bjornmeansbear</a><br />
              <a href="https://vimeo.com/bjornmeansbear">vimeo.com/bjornmeansbear</a>
            </p>
          </article>
          <!-- end reference links -->
      
          </div>
      </div>
      
    </footer>
  
    <!-- Javascript Goes Here -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>

</html>
