<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Kristian Bjornard" />

    <!-- Twitter Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    
    <!-- Custom OOKB CSS -->
<!--     <link rel="stylesheet" href="/css/ookb.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="http://www.ookb.co/css/newookb.css" type="text/css" media="screen" />
    
  </head>

  <body>
  
    <!-- Nav!
    ================================================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top mainnav">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="span5"><a class="brand" href="http://www.ookb.co/"><h2><em class="gentium">The</em> Office <em class="gentium">of</em> Kristian Bj&oslash;rnard</h2></a></div>
            <div class="nav-collapse collapse span5 offset2 rightside">
              <ul class="nav">
                <li><a href="/">Notes</a></li>
                <li><a href="http://www.ookb.co/work.html">Work</a></li>
                <li><a href="http://www.ookb.co/contact.html">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </nav>

    <!-- Header!
    ================================================== -->
    <header class="container">
      <div class="row">
        <figure id="logo" class="span2 offset5"><img src="img/ookblogo.png" /></figure><!-- END LOGO -->
        <h1 class="span12"><em class="gentium">The</em> Office <em class="gentium">of</em> Kristian Bj&oslash;rnard</h1><!-- END decorative SITE NAME -->
      </div>
    </header>

<!--
    <header class="navbar-fixed-top clearfix">
      <h1 class="left"><a href="/"><em>the</em> Office <em>of</em> Kristian Bj&oslash;rnard</a></h1>
      <nav class="right">
        <ul>
          <li><a href="/">Notes</a></li>
          <li><a href="http://kristian.bjornard.com">Work</a></li>
          <li><a href="">Library</a></li>
        </ul>
      </nav>
      <img role="logo" id="logo" src="http://kristian.bjornard.com/sites/kristian.bjornard.com/themes/ookb/logo.png" alt="Office of Kristian Bjornard Logo" />
      <br class="clear" />
    </header>
-->
    
    <main role="main">
      <div class="container">
      
        {{ content }}
  
      </div>
    </main>
    
    <footer>
      
      <div class="container">
        <div class="row">
        
          <article class="span4 offset2 contact">
            <p>
              Kristian Bj&oslash;rnard<br />
              Designer / Thinker / Sustainabilitist<br />
              Founder of <a href="http://ookb.co/">The Office of Kristian Bj&oslash;rnard</a><br />
              kb@ookb.co<br/>
              (507) 301-8402
            </p>
          </article>
          <!-- end contact info -->
          
          <article class="span4 referencelinks">
            <p>
    <!--             <a href="">Dribbble</a><br /> -->
              <a href="http://flickr.com/photos/bjornmeansbear/">flickr.com/photos/bjornmeansbear</a><br />
              <a href="https://github.com/bjornmeansbear/">github.com/bjornmeansbear</a><br />
              <a href="http://instagram.com/bjornmeansbear/">instagram.com/bjornmeansbear</a><br />
              <a href="http://issuu.com/bjornmeansbear">issuu.com/bjornmeansbear</a><br />
    <!--             <a href="http://www.linkedin.com/in/kristianbjornard">LinkedIn</a><br /> -->
              <a href="http://pinterest.com/bjornmeansbear/">pinterest.com/bjornmeansbear</a><br />
    <!--             <a href="http://www.plaxo.com/profile/show/244813743987?pk=8d942140084a9fd7d7af9648f0bbac86349bfe96&src=ab">Plaxo</a><br /> -->
              <a href="http://twitter.com/bjornmeansbear/">twitter.com/bjornmeansbear</a><br />
              <a href="https://vimeo.com/bjornmeansbear">vimeo.com/bjornmeansbear</a>
            </p>
          </article>
          <!-- end reference links -->
      
          </div>
      </div>
      
    </footer>
  
    <!-- Javascript Goes Here -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ookb.js"></script>
    
    <!-- google analytics code -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2225454-16']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  
  </body>

</html>
